body {

}


div {
  border: 5px solid red;
}


nav {
  margin-bottom: 30px;
  height: 90px;
  box-shadow: 1px 1px 1px;
}

img {
  margin: 5px;
  width: 300px;
  height: 300px;
}

a.dropdown-item:hover {
  background-color: #FFDF00	;
  color: #d9534f;
  font-weight: bold;
}

.logo {
  margin-top: 25px;
  width: 100px;
  height: 80px;
}

.list {
  display: inline;
  list-style: none;
}
