body {
   background-color: #e7ecef;
}


div {
}

nav {
  height: 90px;
  box-shadow: 1px 1px 1px;
  margin-bottom: 5%;
}

img {
  margin: 5px;
  width: 300px;
  height: 300px;
}

a.dropdown-item:hover {
  background-color: #e7ecef;
  color: #3299ff;
  font-weight: bold;
}
.dropdown-menu {
  min-width:auto;
  width:100%;
  margin-top: 10px;
}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  height: 80px;
}

.list {
  display: inline;
  list-style: none;
}

.photo-links {
  cursor: pointer;
}
