body {
   background-color: #e7ecef;
}


div {
  /*border: 1px solid red;*/
}

nav {
  height: 90px;
  box-shadow: 1px 1px 1px;
  margin-bottom: 5%;
}

img {
  margin: 5px;
  width: 300px;
  height: 300px;
}

a.dropdown-item:hover {
  background-color: #e7ecef;
  color: #3299ff;
  font-weight: bold;
}
.dropdown-menu {
  min-width:auto;
  width:100%;
  margin-top: 10px;
}

.title-borders {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px;

}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  height: 80px;
}

.list {
  display: inline;
  list-style: none;
}

.photo-links {
  cursor: pointer;
}

.image-container {
  background-color: white;
  border: 2px solid white;
  box-shadow: 1px 1px 1px;
}

.mt-20 {
  margin-top: 40px;
}
